include ./item/_row.pug

doctype html
html(lang="en")
    head


        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Homework
        link(rel="stylesheet" href="index.css")
        link(rel="shortcut icon" href="favicon.png" type="image/x-icon")
    body
        header.header 
            h1.header__title Beridze Dmytro 

        main.content 
            h2.content__title Homework I


            .content__wrapper
                ul.list
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/Home1/index.html") 
                            span.list__nuber Home1 
                            span.list__name Не знаю для чого ми це робили

                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/Home2/Home2.html") 
                            span.list__nuber Home2 
                            span.list__name Семантика
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/Home3/index.html")
                            span.list__nuber Home3 
                            span.list__name Links
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/Home4/task_1.html") 
                            span.list__nuber Home4 
                            span.list__name Lists 
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/task_3/index.html") 
                            span.list__nuber Home5 
                            span.list__name Frames
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/home/index.html")
                            span.list__nuber Home6 
                            span.list__name Знайомство з CSS
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/css-weather home/weather.html") 
                            span.list__nuber Home7 
                            span.list__name CSS Box Model
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/menu/menu.html") 
                            span.list__nuber Home8 
                            span.list__name CSS -селектори
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/my task_2/index.html") 
                            span.list__nuber Home9 
                            span.list__name Мабуть позиціонування
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/figmahome/index.html") 
                            span.list__nuber Home10 
                            span.list__name Figma
                //- *Homevork2______________
            h2.content__title Homework  II           
            .content__wrapper
                ul.list
                    li.list__item
                        a.list__item_link(href="./homeworks_2_part/resume/index.html") 
                            span.list__nuber Home1 
                            span.list__name Що таке сайт. Налаштування робочого процесу. Вступ до HTML.       
                    li.list__item
                        a.list__item_link(href="./homeworks_2_part/svg-home/index.html") 
                            span.list__nuber Home2 
                            span.list__name Масштабована векторна графіка (SVG)     





