@import "variables/_variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $darkblue;
  color: $orange;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.header {
  background-color: $greyblue;
  padding: 20px;
  width: 100%;
  &__title {
    // color: #f2994a;
    text-align: center;

    font-size: 40px;
  }
}
.content__title {
  text-align: center;
  margin-top: 20px;
}

.list {
  list-style: none;
}
.list__item {
  background-color: $softblue;
  padding: 20px;
  margin-bottom: 2px;
  // width: 700px;
}

.list__item:nth-child(2n) {
  background-color: $greyblue;
}
.content__wrapper {
  width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
}
.list__item_link {
  color: $orange;
  font-size: 24px;
  text-decoration: none;
}
