doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Homework
        link(rel="stylesheet", href="index.css")
    body
        header.header 
            h1.header__title Beridze Dmytro 
        main.content 
            h2.content__title Homework 
        
            .content__wrapper
                ul.list
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/Home1/index.html") Home1 Не знаю для чого ми це робили
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/Home2/Home2.html") Home2 Семантика
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/Home3/index.html") Home3 Links
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/Home4/task_1.html") Home4 Lists 
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/task_3/index.html") Home5 Frames
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/home/index.html") Home6 Знайомство з CSS
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/css-weather home/weather.html") Home7 CSS Box Model
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/my task_2/index.html") Home8 Мабуть позиціонування
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/figmahome/index.html") Home9 Figma
                        
                    
                
    