doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Homework
        link(rel="stylesheet", href="index.css")
    body
        header.header 
            h1 Beridze Homework
        main.content 
            .content__wrapper
                ul.list
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/Home4/task_1.html") Home1 
                    li.list__item
                        a.list__item_link(href="./homeworks_1_part/Home2/Home2.html") Home2 Семантика
                    li.list__item
                        a.list__item_link(href="#") Home3 
                    li.list__item
                        a.list__item_link(href="#") Home4 
                    li.list__item
                        a.list__item_link(href="#") Home5 
                        
                    
                
    