// Header style___________
body {
  color: $c-font-black;
}
.header {
  padding: 40px 0;
  border-bottom: 2px solid $c-border-gey;
}
// .header__wraper {
//   max-width: 1400px;
//   margin: 0 auto;
// display: flex;
// align-items: center;
// }
.header__logo {
  margin-right: 14px;
  display: inline-block;
}
.header__title {
  font-family: "Quicksand";
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
  line-height: 35px;
  display: inline-block;
}

// .header__logo {
//   width: 24px;
//   height: 24px;
// }
.svg {
  width: 26px;
  height: 26px;
  fill: $c-icon-green;
}

