include ./src/components/index
include ./src/elements/photo
include ../../item/_button.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="")
        link(rel="stylesheet", href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
        
        link(rel="stylesheet", href="index.css")
        script(src="https://kit.fontawesome.com/05b551123c.js" crossorigin="anonymous") 
        link(rel="shortcut icon", href="favicon.ico")
        //- <link rel="icon" type="image/x-icon" href="./assets/favicon.svg">

        
    body 
        +button 
        
        
        
        .wrapper
            
            +left_bar 
            +right_bar
            
            
            
            
            
            

