mixin photo()
    .photo__wraper 
        .photo 
            //- img.photo__item(src="./assets/images/Мои фотошедевры 085.jpg", alt="") 
            //- img.photo__item(src="./assets/images/Young and old people.jpg", alt="") 
            img.photo__item(src="./assets/images/Young people.jpg", alt="") 