mixin left_bar()
    .leftbar__wrapper 
        .leftbar  
            
            +photo
            //- data
            .user__wraper
                h1.user__header john brown
                //- list
                ul.user__list  
                    li.list__item
                        h3.item__title profile
                        .item__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum hic in rem ipsum explicabo quaerat? Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum hic in rem ipsum explicabo quaerat? 
                    li.list__item
                        h3.item__title education
                        .item__text Lorem ipsum dolor sit amet consectetur  
                    li.list__item
                        h3.item__title contact
                        .item__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum hic in rem ipsum explicabo
                //- footer
                .user__footer
                    .contacts Social:
                        .icons_cont
                            .icon
                                <i class="fa-solid fa-location-dot"></i>
                                .description Addres:
                                    span.place Sity
                                
                            .icon
                                <i class="fa-solid fa-phone"></i>
                                .description Phone:
                                    span.place +200658768
                            .icon
                                <i class="fa-solid fa-envelope"></i>
                                
                                .description Mail:
                                    span.place
                                        a.place__link(href="https://mail.google.com/") @ghouitgyortig
                            
                
                