mixin right_bar()
    .rightbar__wrapper
        h2.rightbar_header WORK EXPERIENCE
        //- список
        .list__wrapper 
            //- 1------------
            
            ul.list 
                li.list__part
                    h4.part__header Company Name 1
                    .item__wraper
                        .position Service Position
                        .position Dec 2017- Jan2018
                        //- Вкладений список
                    ol.info__list
                        li.info__item  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum dolorem mollitia corporis 
                        li.info__item  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, blanditiis?, ipsum dolor sit 
                        //- 2----------------
                li.list__part 
                    h4.item__header Company Name 2
                    .item__wraper
                        .position Service Position
                        .position March 2019- Now 2019
                        //- Вкладений список
                    ol.info__list
                        li.info__item  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum dolorem mollitia corporis Lorem, ipsum dolor sit amet 
                        li.info__item   consectetur adipisicing elit. Sed, blanditiis?, ipsum 
                li.list__part 
                    h4.item__header Company Name 3
                    .item__wraper
                        .position Service Position
                        .position April 2020-Sep 2020
                        //- Вкладений список
                    ol.info__list
                        li.info__item  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum dolorem mollitia corporis Lorem, ipsum dolor sit amet 
                        li.info__item   consectetur adipisicing elit. Sed, blanditiis?, ipsum 
                        //- 4--------------
                        
                li.list__part 
                    h4.item__header Company Name 4
                    .item__wraper
                        .position Service Position
                        .position July 2021-present
                        //- Вкладений список
                    ol.info__list
                        li.info__item  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum dolorem mollitia corporis 
                        li.info__item  Lorem, ipsum dolor sit amet consectetur adipisicing elitamet consectetur 
                        li.info__item Sed, blanditiis?, ipsum dolor sit amet conse
        //- footer
        footer.footer 
            .footer__container
                .icon_set
                    //- button
                    a(href="https://uk-ua.facebook.com/")
                        .icon__wraper
                            img.icon_img(src="./assets/images/facebook.png", alt="social")
                            //- link
                        .icon_link 
                            a.link-ref(href="https://uk-ua.facebook.com/") facebook
                
                .icon_set
                    //- button
                    a(href="https://www.instagram.com/")
                        .icon__wraper
                            img.icon_img(src="./assets/images/instagram.png", alt="social")
                            //- link
                        .icon_link 
                            a.link-ref(href="https://www.instagram.com/") instagram
                            
                
                .icon_set
                    //- button
                    a(href="https://twitter.com/?lang=ru")
                        .icon__wraper
                            img.icon_img(src="./assets/images/twitter.png", alt="social")
                            //- link
                        .icon_link 
                            a.link-ref(href="https://twitter.com/?lang=ru") twitter
                            

                            
                
                