mixin footer()
    footer.footer__wraper
        footer.footer
            .wraper__content 
                //- logo svg____
                .footer__logo 
                    <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                    <title></title>
                    <g id="icomoon-ignore">
                    </g>
                    <path id="outside" d="M984.618 402.114l-109.489-16.935c-5.888-16.036-11.594-29.025-17.962-41.623l1.026 2.239 65.379-89.403c5.721-7.547 9.164-17.095 9.164-27.447 0-12.476-5.002-23.785-13.109-32.030l-92.548-92.548c-8.284-8.37-19.775-13.553-32.476-13.553-10.154 0-19.534 3.312-27.119 8.916l0.124-0.087-87.828 65.379c-10.359-5.342-23.349-11.047-36.684-16.048l-2.7-0.887-18.511-108.702c-3.204-22.375-22.24-39.385-45.249-39.385-0.015 0-0.030 0-0.046 0h-129.179c-0.012 0-0.028 0-0.043 0-23.009 0-42.046 17.009-45.221 39.14l-0.028 0.245-16.935 109.489c-16.022 5.877-29.012 11.584-41.609 17.956l2.224-1.020-90.979-66.166c-7.276-5.115-16.32-8.175-26.079-8.175-12.375 0-23.601 4.921-31.828 12.911l-92.543 92.543c-8.37 8.284-13.553 19.775-13.553 32.476 0 10.154 3.312 19.534 8.916 27.119l-0.087-0.124 65.379 89.403c-5.365 10.39-11.072 23.38-16.062 36.72l-0.874 2.665-108.702 16.935c-22.375 3.204-39.385 22.24-39.385 45.249 0 0.015 0 0.030 0 0.046v-0.002 129.182c0 0.012 0 0.028 0 0.043 0 23.009 17.009 42.046 39.14 45.221l0.245 0.028 109.489 16.935c5.841 15.977 11.548 28.967 17.935 41.555l-0.999-2.17-66.166 90.979c-5.115 7.276-8.175 16.32-8.175 26.079 0 12.375 4.921 23.601 12.911 31.828l92.543 92.543c8.284 8.37 19.775 13.553 32.476 13.553 10.154 0 19.534-3.312 27.119-8.916l-0.124 0.087 89.403-65.379c10.373 5.351 23.363 11.058 36.699 16.054l2.686 0.881 16.935 108.702c3.204 22.375 22.24 39.385 45.249 39.385 0.015 0 0.030 0 0.046 0h129.179c0.012 0 0.028 0 0.043 0 23.009 0 42.046-17.009 45.221-39.14l0.028-0.245 16.935-109.489c16.036-5.888 29.025-11.594 41.623-17.962l-2.239 1.026 89.403 65.379c7.547 5.721 17.095 9.164 27.447 9.164 12.476 0 23.785-5.002 32.030-13.109l92.548-92.548c8.37-8.284 13.553-19.775 13.553-32.476 0-10.154-3.312-19.534-8.916-27.119l0.087 0.124-65.379-89.403c5.382-10.411 11.089-23.402 16.071-36.746l0.864-2.639 108.702-16.935c22.375-3.204 39.385-22.24 39.385-45.249 0-0.015 0-0.030 0-0.046v0.002-129.182c0-0.012 0-0.028 0-0.043 0-23.009-17.009-42.046-39.14-45.221l-0.245-0.028zM931.843 537.203l-98.068 14.178c-18.010 2.934-32.319 16.055-36.948 33.157l-0.074 0.32c-7.463 28.11-17.974 52.736-31.461 75.386l0.741-1.343c-3.979 6.639-6.332 14.647-6.332 23.206 0 10.075 3.262 19.388 8.785 26.942l-0.090-0.129 58.683 82.708-35.446 35.446-82.708-58.683c-7.424-5.434-16.737-8.695-26.812-8.695-8.559 0-16.567 2.353-23.414 6.448l0.208-0.116c-21.308 12.778-45.939 23.291-72.017 30.26l-2.026 0.46c-17.422 4.703-30.543 19.012-33.441 36.758l-0.036 0.263-15.36 98.856h-49.625l-13.785-98.856c-2.934-18.010-16.055-32.319-33.157-36.948l-0.32-0.074c-28.106-7.44-52.736-17.953-75.375-31.456l1.332 0.736c-6.639-3.979-14.647-6.332-23.206-6.332-10.075 0-19.388 3.262-26.942 8.785l0.129-0.090-82.314 58.683-35.84-35.446 58.683-82.708c5.434-7.424 8.695-16.737 8.695-26.812 0-8.559-2.353-16.567-6.448-23.414l0.116 0.208c-12.762-21.308-23.274-45.936-30.256-72.009l-0.464-2.034c-4.703-17.422-19.012-30.543-36.758-33.441l-0.263-0.036-98.856-15.36v-49.625l98.856-13.785c18.010-2.934 32.319-16.055 36.948-33.157l0.074-0.32c7.451-28.107 17.963-52.736 31.457-75.38l-0.737 1.337c3.979-6.639 6.332-14.647 6.332-23.206 0-10.075-3.262-19.388-8.785-26.942l0.090 0.129-58.683-82.708 35.84-35.446 82.314 58.683c7.424 5.434 16.737 8.695 26.812 8.695 8.559 0 16.567-2.353 23.414-6.448l-0.208 0.116c21.308-12.767 45.937-23.28 72.012-30.257l2.031-0.463c17.422-4.703 30.543-19.012 33.441-36.758l0.036-0.263 15.36-98.856h50.806l12.603 98.856c2.934 18.010 16.055 32.319 33.157 36.948l0.32 0.074c28.105 7.429 52.735 17.942 75.369 31.454l-1.326-0.734c6.639 3.979 14.647 6.332 23.206 6.332 10.075 0 19.388-3.262 26.942-8.785l-0.129 0.090 82.708-58.683 35.446 35.446-58.683 82.708c-5.434 7.424-8.695 16.737-8.695 26.812 0 8.559 2.353 16.567 6.448 23.414l-0.116-0.208c12.778 21.308 23.291 45.939 30.26 72.017l0.46 2.026c4.703 17.422 19.012 30.543 36.758 33.441l0.263 0.036 98.856 15.36z"></path>
                    <path class="inside" d="M512.002 319.012c-106.582 0-192.985 86.403-192.985 192.985s86.403 192.985 192.985 192.985c106.582 0 192.985-86.403 192.985-192.985v0c0-106.582-86.403-192.985-192.985-192.985v0zM512.002 613.216c-55.902 0-101.219-45.317-101.219-101.219s45.317-101.219 101.219-101.219c55.902 0 101.219 45.317 101.219 101.219v0c-0.223 55.812-45.407 100.996-101.198 101.219h-0.021z"></path>
                    </svg>

                h1.footer__title Freehand
                //- social-icon svg 
                .social-icon__container 

                    a.social-icon__link(href="https://www.instagram.com/")
                        .social-icon 
                            <svg class="icon icon-Vector"><use xlink:href="#icon-Vector"></use></svg>
                    a.social-icon__link(href="https://uk-ua.facebook.com/") 
                        .social-icon
                            <svg class="icon icon-Vector-1"><use xlink:href="#icon-Vector-1"></use></svg>
                    a.social-icon__link(href="https://github.com/")    
                        .social-icon
                            <svg class="icon icon-Vector-2"><use xlink:href="#icon-Vector-2"></use></svg>
                    a.social-icon__link(href="https://dribbble.com/")    
                        .social-icon
                            <svg class="icon icon-Vector-3"><use xlink:href="#icon-Vector-3"></use></svg>
                    a.social-icon__link(href="https://twitter.com/?lang=ru")    
                        .social-icon
                            <svg class="icon icon-Twit"><use xlink:href="#icon-Twit"></use></svg>


