//- mixin section__________
mixin section()
    section.content 
        //- link____
        .content__link 
            span.border__link
                a.link(href="https://coolors.co/") OUR SERVICES

                //- header___
            h2.content__header We build experience

            .content__blocks 
                //- *block1___________________________________
                .info-block
                    //-text icon wrapper 
                    .info-block__wrapper
                        +button_speaker

                        h3.info-block__title  Design
                        .info-block__content  Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .
                        .info-block__footer  
                            a.info-block__link(href="https://www.awwwards.com/websites/css3/") Learn more
                //- *block2___________________________________
                .info-block__green
                    //-text icon wrapper 
                    .info-block__wrapper
                        +button_shop
                        h3.info-block__title  Ecommerce
                        .info-block__content  Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .
                        .info-block__footer  
                            a.info-block__link(href="https://www.awwwards.com/websites/css3/") Learn more


                //- *block3___________________________________
                .info-block
                    //-text icon wrapper 
                    .info-block__wrapper
                        +button_phone

                        h3.info-block__title  Application
                        .info-block__content  Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .
                        .info-block__footer  
                            a.info-block__link(href="https://www.awwwards.com/websites/css3/") Learn more












