//- button shop.pug________
mixin button_shop()

    .info-block__icon
        a(href="https://www.interkassa.com/blog/chto-takoe-elektronnaya-kommerciya-e-commerce-dlya-nachinayushchih/")  
            <svg id="shop__icon-efect" class="svg__icon_green" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 1024 1024">
                <title></title>
                <g id="icomoon-ignore">
                </g>
                <path d="M972.648 573.856v337.204c0 44.009-38.271 79.812-85.314 79.812h-750.756c-47.042 0-85.313-35.802-85.313-79.812v-337.204c0-8.816 7.639-15.964 17.062-15.964s17.063 7.146 17.063 15.964v337.204c0 26.405 22.962 47.89 51.188 47.89h185.557v-269.368c0-44.009 38.271-79.812 85.314-79.812h209.020c47.040 0 85.311 35.802 85.311 79.812v205.518c0 8.814-7.639 15.961-17.063 15.961-9.421 0-17.063-7.146-17.063-15.961v-205.518c0-26.403-22.964-47.89-51.185-47.89h-209.020c-28.226 0-51.189 21.486-51.189 47.89v269.368h138.634v-251.41c0-8.816 7.639-15.964 17.063-15.964s17.063 7.146 17.063 15.964v251.41h358.314c28.226 0 51.189-21.483 51.189-47.89v-337.204c0-8.816 7.639-15.964 17.063-15.964s17.063 7.144 17.063 15.964zM110.983 288.526c0 8.814 7.639 15.964 17.062 15.964 928.354 0 882.326 1.552 889.107-3.315 3.546-2.551 5.863-6.233 6.501-10.44 0.951-6.413 7.074 9.361-112.132-247.992-2.705-5.839-8.853-9.615-15.658-9.615h-767.82c-6.8 0-12.952 3.778-15.656 9.615l-110.908 239.438c-1.96 4.233-1.409-2.487-1.409 105.377 0.124 72.6 63.271 131.667 140.768 131.667 53.276 0 99.77-27.916 123.667-68.951 53.378 91.765 193.969 91.867 247.446 0.062 53.433 91.732 193.965 91.753 247.409 0 23.88 41.001 70.379 68.891 123.703 68.891 77.621 0 140.768-59.075 140.768-131.69 0-8.816-7.639-15.964-17.063-15.964s-17.063 7.146-17.063 15.964c0 55.009-47.839 99.764-106.642 99.764-58.801 0-106.642-44.755-106.642-99.764 0-8.816-7.639-15.964-17.060-15.964s-17.063 7.146-17.063 15.964c0 55.009-47.841 99.764-106.642 99.764s-106.642-44.755-106.642-99.764c0-8.816-7.639-15.964-17.063-15.964s-17.063 7.146-17.063 15.964c0 55.009-47.839 99.764-106.642 99.764-57.493 0-106.642-43.227-106.642-100.563 0-8.816-7.639-15.964-17.061-15.964s-17.063 7.146-17.063 15.964c0 56.852-48.84 100.563-106.642 100.563-58.71 0-106.549-44.766-106.642-99.764v-95.698l105.049-226.782h745.417l96.12 207.512h-852.737c-9.424 0-17.062 7.146-17.062 15.964v0z"></path>
                </svg>





