mixin row(name)
        list__nuber= name
            li.list__item
                a.list__item_link(href="#") 
                    
                    span.list__nuber 
                    span.list__name 